.busc_map {
    color: black;
    text-decoration:none;
}

.busc_cat {
    color: black;
    text-decoration:none;
}

.bus_text {
    text-align: center;
    padding: 5vw;
}


.selector_box{
    height: 20vw;
    width: 25vw;
    max-width: 300px;
    max-height: 200px;
    background-color: rgb(210, 210, 210);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10vw;
}

.selector_box :hover{
    height: 20vw;
    width: 25vw;
    max-width: 300px;
    max-height: 200px;
    background-color: rgb(203, 203, 203);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 10vw;
    margin-bottom: 10vw;
    cursor: pointer;
}

.selector {
    display: flex;
    gap: 10vw;
    justify-content: center; 
    align-items: center;
}