

.detalle_data_box{
    display: flex;
}

.detalle_titulo{
font-size: xx-large;
}

.detalle_data_box_2{
    padding-left: 2vw;
    font-weight: bold;
}
.detalle_img{
    width: 50vw;
    height: 50vw;
    max-width: 400px;
    max-height: 400px;
}


.description_box{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    
}