body {
    font-family: 'Montserrat';
    background-color: #B3D2EE;
    color: black;
    margin: 0;
    padding: 0;
}

.dark-mode {
    font-family: 'Montserrat';
    background-color: #252525;
    color: white; 
  }


a{
    text-decoration:none;
}

.prov_selector {
    background-color: #F0F0F0;
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.prov_selector_s {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 1px){

.galery_container{
    margin-right: 2vw;
    margin-left: 2vw;
}
.box_shadow{
    box-shadow: rgba(237, 237, 237, 0.2) 0px 0px 0px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    cursor: pointer;
}


.box_shadow:hover{
    transform: scale(1.01); 
}



.galery_image{
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 25vw;
    width: 25vw;
    overflow: hidden; 
    margin-left: 20px;
    border-radius: 2px;  
}

.galery_image:hover{
    transform: scale(1.02); 
}


.box_description{
    padding-left: 15px;
}


.title {
    font-weight: bold;
    padding-left: 15px;
    text-align: left;
}

.page_selector{
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GalMenu_box {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    border: 1px solid #ccc;
    z-index: 9999;
    border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
}

.box_galery_menu {
    margin-right: 5vw;
     margin-left: 5vw;
}

.box_galery_menu_ch{
    display: flex;display: flex; align-items: center;
}

.galery_menu_descripcion {
    padding-left: 10px;
}

.atributos {
    display: flex;
}

.bold{
    font-weight: bold;
}

}
@media only screen and (min-width: 1000px){
    .galery_image{
        height: 200px;
        width: 200px;
        border-radius: 5px;  
        overflow: hidden; 
    }
   
}